// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #7a7d7d;
$sugar-plum: #8e5572;
$cultured: #f2f7f2;
$grullo: #bcaa99;
$english-violet: #443850;

//Custom Bootstrap Colors
$theme-colors: (
    "gray": $gray,
    "sugarp": $sugar-plum,
    "cultured": $cultured,
    "grullo": $grullo,
    "eviolet": $english-violet
);

// Body
$body-bg: $cultured;
$body-color: $english-violet;

// Typography
$font-family-sans-serif: "Days One", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
